/* base style */
body {
  font-family: "Microsoft Yahei", "Arial";
  padding-top: 91px;
  color: #333;
  background-color: #fff;
  font-size: 14px;
  background-image: url(about:blank);
  background-attachment: fixed;
  overflow-x: hidden;
}
a {
  color: #06f;
  text-decoration: none;
}
a:hover {
  color: #f60;
  text-decoration: none;
}
img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
}
i,
em {
  font-style: normal;
}
li {
  list-style-type: none;
}
textarea {
  resize: vertical;
}
input,
select,
textarea {
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Arial";
  background-color: #fff;
  margin: 0;
  padding: 0;
  outline: none;
}
/* 常用布局样式 */
/* 常用布局公共容器 */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-150 {
  margin-bottom: 150px;
}
.flex {
  display: flex;
}
.flex-jus {
  justify-content: space-between;
}
#base-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 1px 1px 15px #e0dede;
}
#base-header .navbar-base {
  position: relative;
  background-color: #f8f8f8;
  height: 91px;
  margin-bottom: 0;
  border: none;
}
#base-header .navbar-brand {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0;
}
#base-header .navbar-nav > li > a {
  font-size: 18px;
  color: #666;
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: 500;
}
#base-header .navbar-nav > li > a.on {
  color: #876568;
}
#base-header .navbar-toggle .icon-bar {
  width: 28px;
  height: 3px;
  background-color: #876568;
}
.base-title {
  margin-bottom: 40px;
  padding-top: 40px;
}
.base-title h2 {
  margin-bottom: 10px;
  font-weight: 700;
}
.base-title p {
  font-size: 16px;
  color: #bdb1b1 !important;
}
.index-wrap p {
  font-size: 16px;
  color: #999;
}
.index-wrap .index-news {
  margin-bottom: 20px;
}
.index-wrap .index-news p {
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-wrap .index-news h4 {
  color: #333;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-wrap .index-news .col-xs-3 {
  position: relative;
  text-align: center;
}
.index-wrap .index-news .col-xs-3::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  width: 1px;
  height: 60%;
  background-color: #999;
}
.index-wrap .index-news .col-xs-9 {
  padding-left: 60px;
}
#school-banner .swiper-slide img {
  border-radius: 50%;
}
.base-footer {
  padding-top: 60px;
  height: 430px;
  background-color: #876568;
  color: #f5dadb;
}
.base-footer .bar {
  margin-bottom: 35px;
  display: block;
  width: 50px;
  height: 2px;
  background-color: #f5dadb;
}
.base-footer .glyphicon {
  font-size: 17px;
}
.base-footer p {
  color: #d1bdbe;
  font-size: 15px;
}
.base-footer .pc-footer {
  display: flex;
  justify-content: space-between;
}
.base-footer .pc-footer .left {
  width: 410px;
}
.base-footer .pc-footer .center {
  width: 200px;
}
.base-footer .pc-footer .center div {
  display: flex;
  flex-wrap: wrap;
}
.base-footer .pc-footer .center div a {
  width: 50%;
  color: #d1bdbe;
  font-size: 14px;
  margin-bottom: 15px;
}
.base-footer .pc-footer .right {
  width: 410px;
}
.base-footer .pc-footer .right .leave-message input,
.base-footer .pc-footer .right .leave-message textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #d1bdbe;
}
.base-footer .pc-footer .right .leave-message input::-webkit-input-placeholder,
.base-footer .pc-footer .right .leave-message textarea::-webkit-input-placeholder {
  color: #d1bdbe;
  font-size: 14px;
}
.base-footer .pc-footer .right .leave-message input {
  height: 40px;
}
.base-footer .pc-footer .right .leave-message textarea {
  resize: unset;
}
.base-footer .pc-footer .right .leave-message button {
  display: block;
  width: 140px;
  height: 40px;
  margin: 0 auto;
  background-color: #e4e4e0;
  color: #6f5455;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.base-footer .mb-footer .f-nav {
  margin-bottom: 10px;
}
.base-footer .mb-footer .f-nav a {
  color: #d1bdbe;
}
@media (max-width: 768px) {
  body {
    padding-top: 61px;
  }
  .mb-150 {
    margin-bottom: 2rem;
  }
  #base-header .navbar-base {
    height: 61px;
  }
  #base-header .navbar-brand {
    height: 60px;
    padding-left: 10px;
  }
  #base-header .navbar-brand img {
    height: 80%;
  }
  #base-header .navbar-nav > li > a {
    padding: 10px 10px;
    color: #666;
  }
  .index-wrap .index-news .col-xs-9 {
    padding-left: 20px;
  }
  .base-footer {
    padding-top: 20px;
    height: 120px;
  }
}
